<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="styles :: styles"></head>
<body>
<div th:replace="navbar :: navbar"></div>
<div class="container">
    <header>
        <h1>Categories</h1>
    </header>
    <a type="button" class="btn btn-primary" th:href="@{/categories/addForm}" id="addButton">Add category</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">IdCategory</th>
            <th scope="col">Name</th>
            <th scope="col">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category :${categories}" th:object="${category}">
            <th scope="row" th:text="*{idCategory}">1</th>
            <td th:text="*{name}">Drama</td>
            <td>
                <a type="button" class="btn btn-warning"
                   th:href="@{/categories/updateForm/{id} (id=${category.idCategory})}">Update</a>
                <a type="button" class="btn btn-danger"
                   th:href="@{/categories/delete/{id} (id=${category.idCategory})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="alert alert-secondary alert-dismissible fade show" role="alert" th:if="${message}">
        <p th:text="${message}">Message</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" th:href="@{categories(page=${pages[0]})}">First</a></li>
            <li th:each="page :${pages}" th:class="(${page} == ${currentPage}) ?'page-item active' : 'page-item'">
                <a th:class="page-link" th:href="@{/categories(page=${page})}" th:text="${page}">1</a>
            </li>
            <li class="page-item"><a class="page-link" th:href="@{/categories(page=${pages.size()})}">Last</a></li>
        </ul>
    </nav>
</div>
<div th:replace="js_scripts :: js_script"></div>
</body>
</html>