html, body {
    height: 100%;
    margin: 0;
}

footer {
    width:100%;
    height:50px;
    background-color: #F7F7F7;
    text-align: center;
}

.container {
    min-height: 89%;
}

table {
    text-align: center;
    vertical-align: center;
}

#addButton {
    margin: 10px;
    position: absolute;
    right: 22%;
    top: 5%;
}
